.header {
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 30px 40px; 
  background-color: #333; 
  color: #fff;           
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.header__logo-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
  
.header__logo {
  height: 240px; 
  width: auto;
  margin-right: 20px; 
}
    
.header__title {
  font-size: 4.5rem; 
  font-weight: bold;
  text-align: center;
}
  
.header__nav {
  display: flex;
  justify-content: center;
  width: 100%; 

}
  
.header__menu {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap; 
}
  
.header__link {
  text-decoration: none;
  color: #fff;
  background-color: #444;
  padding: 10px 20px; 
  margin: 5px 10px; 
  font-size: 1.2rem; 
  transition: background-color 0.3s ease;
  border: 2px solid #333; 
  border-radius: 30px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  box-sizing: border-box; 
}
  
.header__link:hover {
  background-color: #555; 
  border-radius: 30px; 
  transform: scale(1.1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
}

.profile-dropdown {
    position: absolute;
    background-color: #333;
    color: white;
    border: 1px solid #444;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1;
    list-style: none;
    text-align: center;
  }

  
  .profile-dropdown a, .profile-dropdown button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    font-size: 1rem;
  }
  
  .profile-dropdown a:hover, .profile-dropdown button:hover {
    color: #ff6347;  
  }
    
  .category-dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    background-color: #333;
    color: white;
    border: 1px solid #444;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    z-index: 1;
    text-align: center;
  }
  
  .dropdown-menu a {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    font-size: 1rem;
  }
  
  .dropdown-menu a:hover {
    color: #ff6347;
    background-color: #333;
  }

  .welcome-message {
    color: white;
    font-size: 1.2rem; 
    font-weight: bold;
    margin-top: 35px;
    padding: 5px 10px;
    border-radius: 5px; 
    display: inline-block;
    text-align: center; 
    animation: bounce 1s ease-in-out;
  }


  @keyframes bounce {
    0% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

@media (max-width: 768px) {
  .header {
    align-items: center;
    justify-content: center; 
    padding: 20px 30px; 
    width: 100%;  
  }

  .header__logo-title {
    justify-content: center;
    margin-bottom: 10px;
  }

  .header__logo {
    height: 150px;
    margin-right: 10px; 
  }

  .header__title {
    font-size: 3rem; 
    text-align: center;
  }

  .header__nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .header__menu {
    flex-direction: column;
    gap: 7px; 
    align-items: center; 
    width: 100%; 
  }

  .header__link {
    width: auto; 
    text-align: center; 
    padding: 4px 12px; 
    font-size: .9rem; 
    margin: 15px 0; 
    box-sizing: border-box; 
  }

  .header__link:hover {
    transform: scale(1.05); 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); 
  }
}